<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
        <add name="ConnectionString" connectionString="EventData.sqlite"/>
    </connectionStrings>
    <appSettings>
        <add key="VideoFolderName" value="ChannelNineEventVideos"/>
        <add key="EventNames" value="Build,Connect,dotnetConf,de-code"/>
        <add key="AppName" value="Channel 9 Event Feed"/>
    </appSettings>
</configuration>
